#head {
    margin-left: 10% !important;
    margin-right: 10% !important;
}

#docs {
    max-height: 400px !important;
}

.search-field {
    background: #fff !important;
}

.lupa {
    color: #000 !important;
}

.placeholder {
    margin-top: 34px;
    margin-bottom: 10px;
    background-color: #eee !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    font-size: 28px !important;
    font-family: arial !important;
    line-height: 25px;
    text-align: center;
    line-height: 25px;
    text-align: center;
}

.sm {
    font-size: 20px !important;
}

.tags-block {
    margin-top: 10px !important;
    padding-right: 10% !important;
}

.editor-buttons {
    margin-top: 20px !important;
}

.download-translation {
    width: 100% !important;
    height: auto !important;
    min-height: 20px !important;
    line-height: 20px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border-radius: 20px!important;
}

.download-original {
    width: 100% !important;
    border-radius: 20px !important;
    text-align: center !important;
}

.docs-tags {
    margin-top: 10px !important;
    padding-right: 10% !important;
}