.header {
    width: 100%;
    text-align: center;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.title-link {
    color: #444;
}

.stat {
    border: 1px solid #424242;
    border-radius: 5px;
}

.statistics {
    width: 30%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.accent {
    color: #f7e136;
    font-style: italic;
}

.submit {
    width: 100%;
    text-align: center;
}

.oneline {
    text-align: center;
    margin-top: 10px;
}

.bottom {
    margin-bottom: 50px;
}

.flat {
    border-radius: 3px !important;
    border: 1px solid #999 !important;
}

.input-field label {
    color: #424242 !important;
}

.input-field input:focus+label {
    color: #424242 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #424242 !important;
    box-shadow: 0 1px 0 0 #424242 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #f7e136 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #f7e136 !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #f7e136 !important;
    border-bottom: 2px solid #f7e136 !important;
}